@using SEDC.PizzaApp.Models.Domain


@using SEDC.PizzaApp.Models.ViewModels
@model OrderDetailsViewModel

<p>@Model.UserFullName ordered @Model.PizzaName. @Model.UserFullName paid @Model.Price with @Model.PaymentMethod.</p>

